<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="simulink2dl.preferences.Simulink2dLPreferencePage"
            id="simulink2dl.preferences.Simulink2dLPreferencePage"
            name="Simulink2dL Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="simulink2dl.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="simulink2dl"
            name="Simulink2dL">
      </category>
      <wizard
            category="simulink2dl"
            class="simulink2dl.Simulink2dLNewProjectWizard"
            icon="icons/Simulink2dL.png"
            id="simulink2dl.wizard"
            name="Simulink2dL Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="simulink2dl.NavCategory"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/Simulink2dL.png"
            id="simulink2dl.navigator"
            name="Simulink2dL Project Navigator">
      </view>
      <category
            id="simulink2dl.NavCategory"
            name="Simulink2dL">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="simulink2dl.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="simulink2dl.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="simulink2dl.PerspectiveFactory"
            icon="icons/Simulink2dL.png"
            id="simulink2dl.perspective"
            name="Simulink2dL Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="simulink2dl.perspective">
         <view
               id="simulink2dl.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.70"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="simulink2dl.projectNature"
         name="Simulink2dL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="simulink2dl.ProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
